cat <<EOL > .gitignore
# Python
__pycache__/
*.py[cod]
*.egg-info/

# Ambientes virtuais
venv/
.venv/
.env

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# 🔥 Parquet
*.parquet
EOL